.card-wrapper {
  background-color: var(--cream);
  box-shadow: var(--box-shadow);
  width: 580px;
  border-radius: 32px;
  border: 2px solid var(--grey);
  margin: 0 auto;
  margin-bottom: 3%;
}

.card-poster {
  border-radius: 10px;
  border: 2px solid var(--yellow);
  box-shadow: var(--box-shadow);
  max-height: 350px;
}
