.comment-body {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  border-radius: 8px;
  border: 1px solid var(--grey);
  box-shadow: 0 0 30px -10px var(--grey);
  margin: 0 0 8px;
  padding: 4px;
  width: fit-content;
  background-color: #ffffbf;
}

.comment-username {
  font-weight: 600;
  transition: all 0.5s ease-in-out;
}

.comment-username:hover {
  color: var(--link-color);
  transform: scale(1.01);
}

.check-icon {
  color: #20a4f4;
}
