@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Orbitron:wght@400..900&display=swap");

:root {
  --breakpoint: 768px;
  --yellow: #efcb68;
  --darkpurple: #160c28;
  --main-bg: #f0f8ff;
  --default-fonts: -apple-system, BlinkMacSystemFont, "Helvetica Neue",
    sans-serif;
}

body {
  margin: 0;
  font-family: "Inter", var(--default-fonts);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overscroll-behavior: none;
  background-color: var(--main-bg);
}

.page-title-text {
  font-size: calc(2.5rem + 1vw);
  font-weight: 700;
}

.bordering {
  border: 2px solid green;
}
